{% extends "accounts/layout.html" %}

{% block content %}
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Stress Free with Refri,</p>
                        <h1>Sign Up</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->
    <div class="container">
        <div class="row">
            <div class="col-sm-9 offset-sm-3">
                {% include "_form.html" with form_title="Sign Up" submit_lable="Sign Up" %}
            </div>
        </div>
    </div>
{% endblock content %}