{% extends "layout.html" %}

{% block content %}
    <div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Hey Amature Chef,</p>
							<h1>Let Refri Do Everything Except Cook For You!</h1>
							<div class="hero-btns">
								<a href="#" class="boxed-btn">Manage Your Ingredients</a>
								<a href="#" class="bordered-btn">Find a Recipe For You</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- advertisement section -->
	<div class="abt-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="#" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<h2>Stress <span class="orange-text">Free </span>with <span class="orange-text">Refri</span></h2>
						<p>Remember the last time you made tuna casserole? <br> It was delicious and enjoyed to the last bite, but what about all the unused tuna and other open packages of ingredients? They sat in the corner of the refrigerator until they spoiled. If this sounds familiar, then Refri is for you. Let Refri manage your ingredients and suggest fun new recipes to use them before you lose them.</p>
						<a href="#" class="boxed-btn mt-4">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->

	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container">
        	<h3>Stock Your Online <span class="orange-text">Refri-gerator<br></span></h3>
			<div class="sale-percent"><span>Fill your Refri-gerator, designate shelf life, and wait for your recipe.</span></div>
            <!-- <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div> -->
            <a href="#" class="cart-btn btn-lg">Add Ingredients</a>
        </div>
    </section>
	<!-- end shop banner -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">Popular</span> Recipes</h3>
						<p>Spice things up with one of these user favorites.<br>Upload your personal favorite and let other users enjoy it to. </p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="#"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="#">Menu1</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="#" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="#"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="#">Menu2</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="#" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="#"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="#">Menu3</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="#" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="#" class="boxed-btn">More Recipes</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->

{% endblock %}